{% extends 'base.html' %}

{% block content %}


{% if error %}
{{ error }}

<br/>
<br/>
{% endif %}

<h1>Signup!</h1>

<form method = "POST" action="{% url 'signup' %}">
    {% csrf_token %}
    first_name:
    <br/>
    <input type="text" name="first_name" />
    <br/>
    last_name:
    <br/>
    <input type="text" name="last_name" />
    <br/>
    username:
    <br/>
    <input type="text" name="username" />
    <br/>
    Password:
    <br/>
    <input type="password" name="password" />
    <br/>
    email:
    <br/>
    <input type="email" name="email" />
    <br/>
    <input class ="btn btn-primary" type="submit" value= "signup" />
    <br/>



</form>
<button><a href="{% url 'signin' %}"> Sign In </button>

{% endblock %}